<!DOCTYPE html>
<html>
<head>
    
    <title>Mailbox Alert Login</title>
    </head>

<body>
   <center>
    
    <h2> Mailbox Alert Login</h2>
    
    <form action="login.php" method="post">
       
       <table>
        <tr>
        <td>Username: </td>   
        <td>
            <input type="text" name="user_name">
            </td>   
           
           
           </tr>
        
        <tr>
           <td>Password: </td>
            
            <td>
            
            <input type="password" name="user_pass">            
            </td>
           </tr>
        
        <tr>
          <!-- <td>Sign in</td> -->
           <td>
            
               <button type="Submit">Sign In</button> 
            
            </td>
            
           </tr>
           
        
        </table>
       
       
       
       
       
       </form>       
       
       
       
       
    </center> 
    
    
    
    </body>


</html>